.container {
    padding: 0 15px;
    margin: auto;

    @media (min-width:$minSmall) {
        width: 750px;
    }

    @media (min-width:$minMed) {
        width: 970px;
    }

    @media (min-width:$minLarge) {
        width: 1170px;
    }
}

.col {
    width: 24%;
    display: inline-table;
}

.col-4 {
    width: 33%;
    display: inline-block;
    margin-bottom: 30px;

    @media (max-width:$minLarge) {
        width: 49%;
    }

    @media (max-width:$maxMobile) {
        width: 100%;
        text-align: center;
    }

}